/* Allows divs to extend to bottom of page */
html, body, #root {
  height: 100%;
}

.profile {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.profile-sidebar {
  flex: initial;
  width: 30%;
  background-color: lightblue;
}

.profile-main {
  flex: auto;
  background-color: lightseagreen;
}