/* Allows divs to extend to bottom of page */
html, body, #root {
  height: 100%;
}

.profile {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.profile-sidebar {
  flex: initial;
  width: 30%;
  background-color: lightblue;
  padding: 1rem;
}

.profile-main {
  flex: auto;
  background-color: lightseagreen;
}

.avatar {
  width: 20%;
}

.sticker-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}

.pic{
  max-width: 15rem;
  margin: 2rem;
}

.sticker{
  max-width: 20rem;
  
}

.header {
  text-align: center;
  background-color: rgb(197, 157, 242);
  color: white;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  padding: 3rem;
}

.buttons-bar {
  text-align: center;
}

.sticker {
  border: 2rem;
  border-color: white;
  padding: 1rem;
}

.login-container{
  text-align: center;
}

.create-container{
  text-align: center;
}

.sticker-container {
  text-align: center;
  margin: 1rem;
}

